.mainDiv {
	font-weight: bold;
	font-size: 2em;
	text-align: center;
	width: 100%;
	padding: 20px;
}

.listDiv {
	text-align: center;
}

.settingsDiv {
	float: right;
	clear: left;
	height: 100vh;
}

.button {
	background-color: #00796B;
	border: none;
	color: white;
	padding: 10px 20px;
	margin: 10px;
	vertical-align: center;
}

.textField {
	display: block;
	width: 106px;
	border: none;
	border-bottom: solid 1px;
	border-bottom-color: rgba(0,0,0,0.12);
	padding:4px 0;
	text-align: left;
}

.textField-label {
	color: rgba(0,0,0,0.26);
	position: absolute;
	text-align: left;
	display: block;
	position: absolute;
}

.listDiv {
	text-align: center;
	align-content: center;
}

.footer div{
	margin: auto;
	text-align: center;
}

.goalBox {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
	max-width: 512px;
	height: 100px;
	margin: auto;
}